body {
    background-color: #fff;
    font-family: var(--font-dm-sans);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navigation {
    background-color: var(--bg-sidebar-nav-playlist);
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo {
    background: var(--bg-sidebar-nav-playlist);
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: var(--bg-text-button);
    text-decoration: none;
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-regular);
}

.library {
    background-color: var(--bg-sidebar-nav-playlist);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: var(--bg-text-button);
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-regular);
    margin-top: 10px;
}

.library .library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__button {
    margin-right: 10px;
    color: var(--bg-text-button);
    background-color: transparent;
    border: 0px;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    display: flex;
}

.library .library__button .fa {
    font-size: var(--font-size-fa);
    margin-right: 10px;
    font-weight: var(--font-weight-light);
    padding-right: 8px;
}

.library .library__content .fa-plus {
    margin: 24px 10px;
}

.section-playlist {
    background-color: var(--bg-playlist-search);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    color: var(--bg-text-button);
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-regular);
    margin: 8px 0;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text {
    padding-bottom: 14px;
    color: var(--bg-text-button);
}

.section-playlist__content .title {
    font-weight: var(--font-weight-bold);
}

.section-playlist__content .subtitle {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-medium);
}

.section-playlist__content .section-playlist__button {
    display: flex;
    justify-content: center;
    background-color: var(--bg-text-button);
    color: var(--bg-button-text);
    border-radius: 20px;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    border: 0px;
    width: 113px;
    margin-top: 12px;
}

.sidebar .cookies {
    margin: 25px 20px;
}

.sidebar .cookies a {
    color: var(--bg-text-button);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-small);
    text-decoration: none;
}

.sidebar .cookies a:hover {
    text-decoration: underline;
}

.languages .languages__button {
    background-color: transparent;
    border: 1px solid #fdfdfd;
    border-radius: 20px;
    color: var(--bg-text-button);
    cursor: pointer;
    align-items: center;
    font-weight: var(--font-weight-bold);
    width: 170px;
    margin: 8px;
    padding: 8px;
}

.disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--bg-premium);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.disclaimer-premium .text {
    flex-shrink: 0;
}

.disclaimer-premium .disclaimer-premium__title {
    color: var(--bg-text-button);
    text-transform: uppercase;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-medium);
    margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    color: var(--bg-text-button);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-medium);
}

.disclaimer-premium button {
    background-color: var(--bg-text-button);
    color: var(--bg-premium-text);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}