:root {
    /* Font */
    --font-dm-sans: "DM Sans", sans-serif;

    --font-size-small: 10px;
    --font-size-medium: 12px;
    --font-size-regular: 14px;
    --font-size-large: 16px;
    --font-size-fa: 20px;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    
    /* Colors */
    --bg-sidebar-nav-playlist: #b2c7e0;
    --bg-playlist-search: #5f51e042;
    --bg-text-button: #ffffff;
    --bg-button-text: #9e50b6;
    --bg-icon: #6500c4;
    --bg-arrow-color: rgb(252, 223, 244);
    --bg-premium: linear-gradient(to right, #babd02, #666801);
    --bg-premium-text: #666801;
}
