/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*VARIÁVEIS*/
:root {
    /*Fonte*/
    --font-dm-sans: "DM Sans", sans-serif;

    /*Cores*/
    --bg-content: #ffffff17;
    --bg-playlist: #a487aa21;
    --bg-search: #9cbae62c;
    --bg-white: #ffffff;
    --bg-button-text: #9e50b6;
    --bg-cookies-text: #9e50b6;
	  --bg-language: #f7b5f7;
    --bg-language-border: #fdfdfd;
	  --bg-artist-card: #9582eb33;
	  --bg-artist-card-hover: #eb82dd3d;
	  --bg-artist-categorie: #6f5699;
    --bg-icon: #311414;
    --bg-arrow-color: rgba(187, 166, 243, 0.329);
    --bg-premium: #0d0124;
    --bg-premium-text: #0d0030;
}

/*BODY*/
body {
  background: linear-gradient(to right, #fdccfd, #9ab5dd);
  background-attachment: fixed;
  font-family: var(--font-dm-sans);
  text-decoration: none;
}

/*MEDIA-QUERY*/
@media (max-width: 1015px){
  offer__list-item {
    grid-template-columns: 1fr 1fr;
  }
}